@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-track {
    background: #fff;
    border-left: 1px solid #f8f8ff
}

body::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 3px solid #fff;
    border-radius: 10px
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#e4c8b4, #e7b5a9);
    overflow: hidden;
}

.eye-box {
    display: flex;
    gap: 50px;
}

.eye-box .eye {
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #df5757,
        inset 0 0 25px #eb3232;
}

.eye-box .eye::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
    border: 10px solid blue;
}

.eyebrows {
    display: flex;
    position: absolute;
    top: 25%;
}

.left-eyebrow:hover,
.right-eyebrow:hover {
    cursor: pointer;
}

.mouth {
    position: absolute;
    bottom: 15%;
}

.mouth:hover {
    cursor: pointer;
}

.info-box {
    position: absolute;
    top: 30%;
}

.side {
    position: absolute;
    display: flex;
    color: #df5757;
    text-shadow: 3px 4px 7px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #FFECD6;
    border-radius: 10px;
    font-size: 2em;
    padding-inline: 15px;
    font-weight: 600;
    border: 1px solid rgb(199, 127, 127);
    box-shadow: 3px 4px 8px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.left {
    position: absolute;
    right: 300px;
    visibility: hidden;
}

.motionLeft {
    animation: leftSide 2s;
    animation-fill-mode: forwards;
}

@keyframes leftSide {
    from {
        right: 800px;
    }

    to {
        right: 300px;
        visibility: visible;
    }
}

.right {
    position: absolute;
    left: 300px;
    visibility: hidden;
}

.motionRight {
    animation: rightSide 2s;
    animation-fill-mode: forwards;
}

@keyframes rightSide {
    from {
        left: 800px;
    }

    to {
        right: 300px;
        visibility: visible;
    }
}

.desc-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sass-desc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 15px;
    background-color: white;
    z-index: 1000;
}

.sass-desc h1 {
    font-size: 2em;
}

.sass-exp {
    position: absolute;
    text-align: center;
    padding-inline: 35px;
    z-index: 80;
    background-color: #fff;
}

.sass-exp p {
    text-align: justify;
    font-size: 1.3em;
}

.btn-fld {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 55px;
    top: 46%;
    z-index: 70;
    padding-block-start: 5px;
    background-color: #fff;
}

.btn-create {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: 0;
    border-radius: 7px;
    font-size: 1.2em;
    background-color: #DED0B6;
    transition: all .5s;
    outline: none;
}

.btn-create:hover {
    background-color: #BBAB8C;
    cursor: pointer;
}

.designers {
    position: relative;
}

.f {
    position: absolute;
    left: 42.6%;
    display: flex;
    top: -45px;
    flex-direction: column;
}

.f-motion {
    animation: fmotion 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fmotion {
    from {
        top: 0;
    }

    to {
        top: 210px;
        visibility: visible;
    }
}

.f {
    z-index: 20;
}

.s,
.t {
    z-index: 10;
}

.s,
.t {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -45px;
}

.s-motion {
    animation: smotion 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes smotion {
    0% {
        top: 0;
        left: 42.6%;
    }

    50% {
        top: 210px;
        left: 42.6%;
        visibility: visible;
    }

    100% {
        top: 210px;
        left: 20%;
        visibility: visible;
    }
}

.t-motion {
    animation: tmotion 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes tmotion {
    0% {
        top: 0;
        left: 42.6%;
    }

    50% {
        top: 210px;
        left: 42.6%;
        visibility: visible;
    }

    100% {
        top: 210px;
        left: 65.2%;
        visibility: visible;
    }
}

.f img,
.s img,
.t img {
    border-radius: 7px;
}

.f span,
.s span,
.t span {
    text-align: center;
    font-size: 1.3em;
    background-color: #fff;
}

.func-container {
    min-height: 100vh;
    background: radial-gradient(#EEF5FF, #B4D4FF);
}

.func-title {
    padding-block-start: 15px;
    font-size: 2em;
    text-align: center;
}

.func-desc {
    text-align: justify;
    font-size: 1.3em;
    text-align: start;
    padding-inline: 35px;
    padding-block-end: 25px;
}

.code-fld {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    height: 350px;
    background-color: #161616;
    margin-inline-start: 35px;
    color: white;
    font-size: 1.7em;
    border-radius: 10px;
    overflow: hidden;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.end h1,
span {
    font-size: 2em;
}